/* Header.scss */

#root {
  width: 100%;
  height: 100%;
  background-color: #daf; 
}

#headBox { 
  display: flex; justify-content: space-between;
  width: 100%; height: 150px; 
  padding: 34px 30px; box-sizing: border-box;
  background-color: #777;
  border-bottom: 1px solid #dedede; 
  > h1 { width: 180px; height: 70px; background-color: #8fe1d2;}
  > .btn { width: 422px; height: 70px; background-color: #fff;}
}