// Section.scss

#productBox {
  width: 100%; min-height: 1214px; height: auto;
  padding: 60px; box-sizing: border-box;
  background-color: #fff; }
@at-root .title { 
  width: 100%; height: 180px;
  margin-bottom: 36px; 
  background-color: #ddd; 
  dl { width: 100%; height: auto; 
    dt { 
      width: 114px; height: 38px; 
      margin-bottom: 17px; 
      font-size: 32px; text-transform: capitalize; }
    dd { 
      width: 100%; height: 42px; 
      margin: 0; 
      font-size: 18px; }
  }// dl
}// title
.Content { 
  display: flex; flex-wrap: wrap; 
  justify-content: space-between;
  width: 100%; height: auto; 
  padding: 20px; box-sizing: border-box;
  background-color: #dee; 
}// content

